// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.counters {
    margin-right: 30px;
    text-align: center;
}

// .fa-star {
//     color: #ffb000;
// }
.status {
    &.unvote {
        color: $gray;
    }
    &.voted {
        color: $orange;
    }
    &.unansewered {
        border: none;
    }
    &.answered {
        border: 1px solid $green;
        color: $green;
    }
    &.answered-accepted {
        background-color: $green;
        color: $white;
    }
}

form.formdelete {
    display: inline;
}

.vote-controls {
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: $gray-700;
    span,
    a {
        display: block;
    }
    span {
        &.votes-count {
            font-size: 20px;
        }
        &.favorite-count {
            font-size: 14px;
        }
    }
    a {
        cursor: pointer;
        color: $gray-600;
        &.off,
        off:hover {
            color: $gray-500;
        }
        &.favorite {
            &.favorited,
            favorited:hover {
                color: $warning;
            }
        }
        &.vote-accepted {
            color: $green;
        }
    }
}